@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message1</h4>
<h5></h5>
<h5>@ViewBag.Message2</h5>
<h5>@ViewBag.Message3</h5>
<h5>@ViewBag.Message4</h5>
<h5>@ViewBag.Message5</h5>
<!--<h5>@ViewBag.Message6</h5>-->

    <address>
        <strong>Support:</strong>   <a href="mailto:mapmytripshelp@gmail.com">mapmytripshelp@gmail.com</a><br />
    </address>
